*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(20,20,20);
    font-family: verdana;
}

main{
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form{
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    margin: auto;
    background: #fff;
    width: 60%;
    max-width: 400px;
}

main form h2{
    padding: 25px;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    gap : 15px;
}

main form input[type=range]{
color: green;
    width: 55%;
}

main form>button{
    border-radius: 8px;
    color: grey;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    padding: 8px 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

main button i{
    margin: 0 5px;
}

main form button:hover{
    background: #dcdcdc;
}

.dont{
    display: none;
}

.output{
    margin: 20px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap : 15px;
}

.output p{
    border-radius: 4px;
    text-align: center;
    padding: 8px 15px;
    color: #000;
    font-weight: bold;
    background: rgb(108,255,24);
    border: 2px dotted black;
}

.output i{
    padding: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    color: grey;
}

.output i:hover{
    background: #dcdcdc;
}

.success{
    text-align: center;
    display: none;
    margin: 10px 0 0 0 ;
}
